/* The BEHAVIOR of the block that pops 
up when Amenities is hovered over */
.amenities:hover .popover {
    display: block;
}

/* Search Bar */
.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

/* Amenities Text Box */
.filters .amenities {
    height: 100%;
    width: 25%;
}

/* Search Button */
.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
}

/* Search Button when Hovered */
.filters button:hover {
    opacity: 90%;
}

/* Locations Text Box */
.filters .locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

/* The BEHAVIOR of the block that pops up 
when Location is hovered over */
.locations:hover .popover {
    display: block;
}

/* The block that pops up for popover class */
.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    margin-top: -1px;
    padding-bottom: 15px;
}

/* Level 2 Headings */
h2 {
    font-size: 16px;
}

/* Level 3 Headings */
h3 {
    font-weight: 600;
    margin-left: 30px;
    margin-top: 13px;
}

/* Level 4 Headings */
h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 30px;
    margin-top: -10px;
}

li {
    margin-left: 30px;
    margin-top: 5px;
}

/* Unordered Lists */
ul {
    list-style-type: none;
    margin-top: -10px;
    margin-bottom: 10px;
}